/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
 /* At the time of submitting this, I know I did not do as well as anticipated. I will 
 continue with it in my own time, even if I cannot resubmit the work. */

 
h1 {
	width: 400px;
	height: 250px;
	padding: 72px;
	margin: 0 150px;
	font-size: 70px;
	text-align: center;
	display: inline-block;
}

h2 {
	font-size: 18px;
	font-weight: 500;
	text-align: left;
}

h6 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	text-align: center;
	margin-bottom: 15px;
 }

p {
	font-size: 16px;
	font-weight: 500;
	text-align: left;
}
header {
	width: auto;
	padding: 15px;
	margin: 0 auto;
	/*
	border: 3px solid black; */
}
.nav-bar {
	width: auto;
	margin-left: 100px;
	display: inline-block;
	text-align: left;
 }

nav a {
	font-size: 14px;
	color: lightgrey;
	padding: 12px;
	margin: 20px;
	text-decoration: none;
	text-align: left;
	display: inline-block;
}

.logo {
	display: inline-block;
	margin-left: 150px;
	text-align: right;
}


.panel1 {
	width: 1350px;
	height: 400px;
	margin: 0 auto;
	display: inline-block;
	vertical-align:top;
	border: 2px solid darkmagenta;
}

.panel1 button {
	width: 150px;
	height: 30px;
	margin-top: 25px;
	margin-left: 275px;
	background-color: transparent;
	border: 1px solid black;
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;
	display: inline-block;
	vertical-align: top;
}

.panel1 img {
	display: inline-block;
	margin: 0 600px;
	vertical-align: top;
	border: 2px solid darkmagenta;
}

.info1 section {
	/*width: 220 px;
	margin: 0 20px;
	text-align: center;
	display:inline-block;
	vertical-align:top;
	*/
	width: 425px;
	margin: 20px 120px;
	display: inline-block;
	vertical-align: top;
	border: 2px solid cyan;
}

.middle-img img {
	display: inline-block;
	margin-left: 150 auto;
	float: center;
	border: 2px solid darkred;
}

.info2 {
	border: 2px solid deeppink;
	margin: 20px 1%;
	width: 220 px;
	text-align: center;
	display:inline-block;
	vertical-align:top;
}

.contact {
	margin: 12px 50px;
}